@if (!isLogin() && !isRegisterSocio()) {

	<nav xmlns:th="http://www.w3.org/1999/xhtml" class="navbar navbar-expand-lg navbar-dark bg" style="background-color: #6BBDE9;">
	
		<div class="container-fluid">
			<a class="navbar-brand"routerLink="index" >Club Naútico</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Socios</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" routerLink="listSocios" routerLinkActive="active">Listar</a></li>
						</ul>
					</li>
	
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Barcos</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" routerLink="listBarcos">Listar</a></li>
							@if (role()==="ROLE_ADMIN") {

							<li><a class="dropdown-item" routerLink="addBarco">Añadir</a></li>
							}
						</ul>
					</li>
					
						
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
								role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Salidas</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a routerLink="/listSalidas" class="dropdown-item">Listar</a></li>
								@if (role()==="ROLE_ADMIN") {
									<li><a routerLink="/addSalida" class="dropdown-item">Añadir</a></li>
								}
							</ul>
						</li>
	
				</ul>
				@if (isAuthenticathed()) {
				<ul class="navbar-nav me-4 mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page">{{name()}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active btn a" (click)="confirmarCierreSesion()"><i class="bi bi-box-arrow-right"></i></a>
					</li>
				</ul>
				}@else {
					
					<a class="btn btn-color color" type="submit" routerLink="/" >Iniciar sesión</a>
				   

				}	
				
	
			</div>
		</div>
	</nav>
}
